mixin services()
  +b('section').services
    +b.container
      +b.service
        +e('h2').head Naše služby
        +b.service-text
          +e('p') Kvalita a úroveň služeb naší společnosti se opírají o odbornou erudici týmu a o zázemí skupiny PEVCP GROUP s její více než desetiletou zkušeností s péčí o svěřené peníze a investice. Produktová nabídka PE & VC PARTNERS GROUP SE je součástí portfolia služeb wealth management skupiny PEVCP GROUP pro náročné klienty.
          +e('p') Specializujeme se jak na privátní fondy zaměřené na péči o majetek s jasně vymezenou investiční a obchodní politikou několika individuálních investorů v předem nasmlouvané synergii, tak na veřejně nabízené fondy podporované renomovanými finančními skupinami.
          +e('p') Zabezpečíme úvodní nastavení a vznik fondu s ohledem na záměry investora i komplexní portfolio činností během jeho života.
        +e('h5') Zjistěte více o našich službách
        +b.service-items
          +e.item
            +e.item__image
              img(src='assets/images/service_1.png' width='207' height='208')
            +e('p').item__head Administrace fondů
            +e.item__text
              +e('p') Neváhejte a založte si vlastní fond kvalifikovaných investorů a zhodnoťte svá aktiva.
              +e('p') Zakládáme a spravujeme fondy kvalifikovaných investorů.
              +e('p') Fondy založíme, nastavíme investiční procesy, vytvoříme investiční strategie a zajistíme úspěšnou komunikaci s regulatorními orgány.
            +e('button').item__service-btn.btn.btn-lg.btn-border.btn-border-blue Zjistěte více
          +e.item
            +e.item__image
              img(src='assets/images/service_2.png' width='207' height='208')
            +e('p').item__head Obhospodařování Fondů
            +e.item__text
              +e('p') Investičním fondům pomáháme růst, správně investovat a investorům vybrat správné řešení.
              +e('p') Specializujeme se na finanční aktiva, částečně alternativní aktiva.
              +e('p') Fondům poskytujeme naše dlouholeté zkušenosti s investičními trhy. Zajistíme vstup na světové finanční trhy. Poskytujeme pravidelný reporting.
            +e('button').item__service-btn.btn.btn-lg.btn-border.btn-border-blue Zjistěte více
          +e.item
            +e.item__image
              img(src='assets/images/service_3.png' width='207' height='208')
            +e('p').item__head Distribuce Fondů
            +e.item__text
              +e('p') Portfóliu fondů našich partnerů a našim fondům usnadňujeme vstup na český i evropský trh.
              +e('p') Naše služby stojí na rozsáhlé síti investičních partnerů a jejich i našich vlastních prodejních kapacitách. Vše funguje na základě našeho jedinečného distribučního systému.
              +e('p') Zahraničním fondům usnadňujeme vstup na český i evropský trh.
            +e('button').item__service-btn.btn.btn-lg.btn-border.btn-border-blue Zjistěte více
          +e.item
            +e.item__image
              img(src='assets/images/service_4.png' width='207' height='208')
            +e('p').item__head Poradenství pro FKI
            +e.item__text
              +e('p') Pomáháme hledat odpovědi na nejrůznější otázky našich partnerů, investorů a přátel.
              +e('p') Na poli FKI vám dovedeme poradit s veškerými důležitými otázkami, jako jsou například témata,  jak vstoupit na veřejné trhy, jak si poradit s fundraisingem nebo na co dávat pozor při přijímání nadnárodních i institucionálních investorů.
            +e('button').item__service-btn.btn.btn-lg.btn-border.btn-border-blue Zjistěte více
