mixin slider()
  section.slider-section
    .bg-gradient
    +b.slider
      +e.item
        +e('img').img(src='assets/images/bg-1.png')
        +e.content.container
          h2.title-light Administrace fondů
          +e.desc
            p
              | Mezi naše aktivity patří zakládání i správa fondů kvalifikovaných investorů. Nabízíme komplexní služby - fondy založíme, nastavíme investiční procesy, vytvoříme investiční strategie a zajistíme také úspěšnou komunikaci s regulatorními orgány.
            p
             | Výběr vhodných investičních strategií zajišťujeme nejen širokou nabídkou služeb skupiny PEVCP GROUP, ale také spoluprací s řadou investičních partnerů.
          +e.buttons
            button.btn.btn-blue Více informací
            button.btn.btn-blue Kontaktujte nás
      +e.item
